html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 10px;
}
body {
  display: block;
  margin: 0px;
  line-height: 1.6;
}
body {
  margin: 0;
  background: #fff;
  font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", FontAwesome, sans-serif;
  font-weight: 400;
  color: #333;
  font-size: 1.6rem;
}
#section_container {
  position: initial;
  overflow: auto;
}
section {
  position: inherit;
}
article {
  position: initial !important;
}
[data-role="article"] {
  overflow-y: initial;
  overflow: initial;
}
.main-content {
  max-width: 1000px;
  margin: 0px auto;
}
a,
ins {
  text-decoration: none;
}
.responsive-with-header-fixed-top {
  padding-top: 51px;
}
.full-width {
  width: 100%;
}
.responsive-topbar {
  position: relative;
  min-height: 50px;
  background: #f8f8f8;
  border-width: 0 0 1px;
  border-style: solid;
  border-color: #ddd;
  top: 0px;
}
.responsive-topbar-fixed-top {
  position: fixed!important;
  right: 0;
  left: 0;
  z-index: 1000;
}
.responsive-topbar-brand {
  margin: 0;
  padding: 0 10px;
  float: left;
  font-size: 1.8rem;
  height: 50px;
  line-height: 50px;
}
.responsive-topbar-container {
  max-width: 1000px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
}
.responsive-topbar-nav {
  margin: 0px;
}
.responsive-topbar-nav > li {
  float: left;
  position: relative;
}
.responsive-topbar-nav > li > a {
  color: #666;
}
.responsive-topbar-toggle {
  position: relative;
  float: right;
  margin-right: 10px;
}
.responsive-nav {
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}
.responsive-nav > li > a {
  padding: .4em 1em;
  border-radius: 0;
  display: block;
  cursor: pointer;
}
.responsive-nav > li > a.active {
  color: #fff;
  background-color: #0e90d2;
  cursor: default;
}
.responsive-nav > li > a:not(.active):hover {
  text-decoration: none;
  background-color: #eee;
}
.responsive-collapse {
  display: none;
}
.responsive-collapse.active {
  display: block;
}
.responsive-topbar-collapse {
  /*width: 100%;*/
  overflow-x: visible;
  padding: 10px;
  -webkit-overflow-scrolling: touch;
}
.responsive-collapse {
  -webkit-transition: all 0.8s ease-out;
  -moz-transition: all 0.8s ease-out;
  -ms-transition: all 0.8s ease-out;
  -o-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
}
.responsive-dropdown-content {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1020;
  display: none;
  float: left;
  min-width: 160px;
  padding: 15px;
  margin: 9px 0 0;
  text-align: left;
  line-height: 1.6;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 0;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-animation-duration: .15s;
  animation-duration: .15s;
  list-style: none;
}
.responsive-dropdown-content:before,
.responsive-dropdown-content:after {
  position: absolute;
  display: block;
  content: "";
  width: 0;
  height: 0;
  border: 8px dashed transparent;
  z-index: 1;
  border-bottom-style: solid;
  border-width: 0 8px 8px;
  left: 10px;
  top: -8px;
  pointer-events: none;
}
.responsive-dropdown-content:before {
  border-bottom-color: #ddd;
  bottom: 0;
}
.responsive-dropdown-content:after {
  border-bottom-color: #fff;
  bottom: -1px;
  top: -7px;
}
.responsive-dropdown-content > li > a {
  padding: .4em 1em;
  border-radius: 0;
  display: block;
  cursor: pointer;
}
.responsive-dropdown-content > li > a.active {
  color: #fff;
  background-color: #0e90d2;
  cursor: default;
}
.responsive-dropdown-content > li > a:not(.active):hover {
  text-decoration: none;
  background-color: #eee;
}
.float-content:after {
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}
.float-content > div {
  float: left;
  word-wrap: break-word;
  padding: 1em;
  box-sizing: border-box;
}
footer.normal {
  /*
    position: absolute;
    bottom: 0px;
*/
  position: inherit !important;
  width: 100%;
  text-align: center;
  background-color: #F8F8F8;
  border-top: 1px solid #DCDBDB;
}
.land-container {
  background: #0E90D2;
  color: #fff;
  text-align: center;
  padding: 100px 0;
}
.side-padding-container {
  padding-left: 1rem;
  padding-right: 1rem;
}
.land-title {
  font-size: 200%;
  border: 2px solid #fff;
  padding: 20px;
  display: inline-block;
}
.detail-h2 {
  text-align: center;
}
.inner-img {
  width: 100%;
}
p.copyright {
  margin: 0px;
  padding: 2rem 0rem 2rem 0rem;
}
.centre-container {
  text-align: center;
}
a:link,
a:-webkit-any-link {
  color: #225E8E;
  text-decoration: inherit;
  cursor: auto;
}
@media (max-width: 35.5em) {
  .responsive-topbar-nav {
    margin-bottom: 8px;
  }
  .responsive-topbar-nav > li {
    float: none;
  }
  .responsive-topbar-nav {
    clear: both;
  }
  .responsive-dropdown-content.active {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    float: none;
  }
}
@media (min-width: 35.5em) {
  .responsive-hide-lg,
  .responsive-hide-md,
  .responsive-show-sm-only {
    display: none!important;
  }
  .responsive-topbar-nav {
    float: left;
  }
  .responsive-topbar-collapse.responsive-collapse {
    display: block!important;
    height: auto!important;
    padding: 0;
    overflow: visible!important;
  }
  .responsive-topbar-right {
    float: right;
    margin-right: 10px;
  }
  .responsive-topbar-nav > li > a {
    position: relative;
    line-height: 50px;
    padding: 0 10px;
  }
}
@media screen and (max-width: 35.5em) {
  .columns-common,
  .columns-sm-1-1,
  .columns-sm-1-2,
  .columns-sm-2-2,
  .columns-sm-1-3,
  .columns-sm-2-3,
  .columns-sm-3-3,
  .columns-sm-1-4,
  .columns-sm-2-4,
  .columns-sm-3-4,
  .columns-sm-4-4,
  .columns-sm-1-5,
  .columns-sm-2-5,
  .columns-sm-3-5,
  .columns-sm-4-5,
  .columns-sm-5-5,
  .columns-sm-1-6,
  .columns-sm-2-6,
  .columns-sm-3-6,
  .columns-sm-4-6,
  .columns-sm-5-6,
  .columns-sm-6-6,
  .columns-sm-1-8,
  .columns-sm-2-8,
  .columns-sm-3-8,
  .columns-sm-4-8,
  .columns-sm-5-8,
  .columns-sm-6-8,
  .columns-sm-7-8,
  .columns-sm-8-8,
  .columns-sm-1-12,
  .columns-sm-2-12,
  .columns-sm-3-12,
  .columns-sm-4-12,
  .columns-sm-5-12,
  .columns-sm-6-12,
  .columns-sm-7-12,
  .columns-sm-8-12,
  .columns-sm-9-12,
  .columns-sm-10-12,
  .columns-sm-11-12,
  .columns-sm-12-12,
  .columns-sm-1-24,
  .columns-sm-2-24,
  .columns-sm-3-24,
  .columns-sm-4-24,
  .columns-sm-5-24,
  .columns-sm-6-24,
  .columns-sm-7-24,
  .columns-sm-8-24,
  .columns-sm-9-24,
  .columns-sm-10-24,
  .columns-sm-11-24,
  .columns-sm-12-24,
  .columns-sm-13-24,
  .columns-sm-14-24,
  .columns-sm-15-24,
  .columns-sm-16-24,
  .columns-sm-17-24,
  .columns-sm-18-24,
  .columns-sm-19-24,
  .columns-sm-20-24,
  .columns-sm-21-24,
  .columns-sm-22-24,
  .columns-sm-23-24,
  .columns-sm-24-24 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
  }
  .columns-sm-1-1 {
    width: 97.969%;
    *width: 99.969%;
  }
  .columns-sm-1-2 {
    width: 47.969%;
    *width: 49.969%;
  }
  .columns-sm-2-2 {
    width: 97.969%;
    *width: 99.969%;
  }
  .columns-sm-1-3 {
    width: 31.30233333%;
    *width: 33.30233333%;
  }
  .columns-sm-2-3 {
    width: 64.63566667%;
    *width: 66.63566667%;
  }
  .columns-sm-3-3 {
    width: 97.969%;
    *width: 99.969%;
  }
  .columns-sm-1-4 {
    width: 22.969%;
    *width: 24.969%;
  }
  .columns-sm-2-4 {
    width: 47.969%;
    *width: 49.969%;
  }
  .columns-sm-3-4 {
    width: 72.969%;
    *width: 74.969%;
  }
  .columns-sm-4-4 {
    width: 97.969%;
    *width: 99.969%;
  }
  .columns-sm-1-5 {
    width: 17.969%;
    *width: 19.969%;
  }
  .columns-sm-2-5 {
    width: 37.969%;
    *width: 39.969%;
  }
  .columns-sm-3-5 {
    width: 57.969%;
    *width: 59.969%;
  }
  .columns-sm-4-5 {
    width: 77.969%;
    *width: 79.969%;
  }
  .columns-sm-5-5 {
    width: 97.969%;
    *width: 99.969%;
  }
  .columns-sm-1-6 {
    width: 14.63566667%;
    *width: 16.63566667%;
  }
  .columns-sm-2-6 {
    width: 31.30233333%;
    *width: 33.30233333%;
  }
  .columns-sm-3-6 {
    width: 47.969%;
    *width: 49.969%;
  }
  .columns-sm-4-6 {
    width: 64.63566667%;
    *width: 66.63566667%;
  }
  .columns-sm-5-6 {
    width: 81.30233333%;
    *width: 83.30233333%;
  }
  .columns-sm-6-6 {
    width: 97.969%;
    *width: 99.969%;
  }
  .columns-sm-1-8 {
    width: 10.469%;
    *width: 12.469%;
  }
  .columns-sm-2-8 {
    width: 22.969%;
    *width: 24.969%;
  }
  .columns-sm-3-8 {
    width: 35.469%;
    *width: 37.469%;
  }
  .columns-sm-4-8 {
    width: 47.969%;
    *width: 49.969%;
  }
  .columns-sm-5-8 {
    width: 60.469%;
    *width: 62.469%;
  }
  .columns-sm-6-8 {
    width: 72.969%;
    *width: 74.969%;
  }
  .columns-sm-7-8 {
    width: 85.469%;
    *width: 87.469%;
  }
  .columns-sm-8-8 {
    width: 97.969%;
    *width: 99.969%;
  }
  .columns-sm-1-12 {
    width: 6.30233333%;
    *width: 8.30233333%;
  }
  .columns-sm-2-12 {
    width: 14.63566667%;
    *width: 16.63566667%;
  }
  .columns-sm-3-12 {
    width: 22.969%;
    *width: 24.969%;
  }
  .columns-sm-4-12 {
    width: 31.30233333%;
    *width: 33.30233333%;
  }
  .columns-sm-5-12 {
    width: 39.63566667%;
    *width: 41.63566667%;
  }
  .columns-sm-6-12 {
    width: 47.969%;
    *width: 49.969%;
  }
  .columns-sm-7-12 {
    width: 56.30233333%;
    *width: 58.30233333%;
  }
  .columns-sm-8-12 {
    width: 64.63566667%;
    *width: 66.63566667%;
  }
  .columns-sm-9-12 {
    width: 72.969%;
    *width: 74.969%;
  }
  .columns-sm-10-12 {
    width: 81.30233333%;
    *width: 83.30233333%;
  }
  .columns-sm-11-12 {
    width: 89.63566667%;
    *width: 91.63566667%;
  }
  .columns-sm-12-12 {
    width: 97.969%;
    *width: 99.969%;
  }
  .columns-sm-1-24 {
    width: 2.13566667%;
    *width: 4.13566667%;
  }
  .columns-sm-2-24 {
    width: 6.30233333%;
    *width: 8.30233333%;
  }
  .columns-sm-3-24 {
    width: 10.469%;
    *width: 12.469%;
  }
  .columns-sm-4-24 {
    width: 14.63566667%;
    *width: 16.63566667%;
  }
  .columns-sm-5-24 {
    width: 18.80233333%;
    *width: 20.80233333%;
  }
  .columns-sm-6-24 {
    width: 22.969%;
    *width: 24.969%;
  }
  .columns-sm-7-24 {
    width: 27.13566667%;
    *width: 29.13566667%;
  }
  .columns-sm-8-24 {
    width: 31.30233333%;
    *width: 33.30233333%;
  }
  .columns-sm-9-24 {
    width: 35.469%;
    *width: 37.469%;
  }
  .columns-sm-10-24 {
    width: 39.63566667%;
    *width: 41.63566667%;
  }
  .columns-sm-11-24 {
    width: 43.80233333%;
    *width: 45.80233333%;
  }
  .columns-sm-12-24 {
    width: 47.969%;
    *width: 49.969%;
  }
  .columns-sm-13-24 {
    width: 52.13566667%;
    *width: 54.13566667%;
  }
  .columns-sm-14-24 {
    width: 56.30233333%;
    *width: 58.30233333%;
  }
  .columns-sm-15-24 {
    width: 60.469%;
    *width: 62.469%;
  }
  .columns-sm-16-24 {
    width: 64.63566667%;
    *width: 66.63566667%;
  }
  .columns-sm-17-24 {
    width: 68.80233333%;
    *width: 70.80233333%;
  }
  .columns-sm-18-24 {
    width: 72.969%;
    *width: 74.969%;
  }
  .columns-sm-19-24 {
    width: 77.13566667%;
    *width: 79.13566667%;
  }
  .columns-sm-20-24 {
    width: 81.30233333%;
    *width: 83.30233333%;
  }
  .columns-sm-21-24 {
    width: 85.469%;
    *width: 87.469%;
  }
  .columns-sm-22-24 {
    width: 89.63566667%;
    *width: 91.63566667%;
  }
  .columns-sm-23-24 {
    width: 93.80233333%;
    *width: 95.80233333%;
  }
  .columns-sm-24-24 {
    width: 97.969%;
    *width: 99.969%;
  }
}
@media screen and (min-width: 35.5em) {
  .columns-common,
  .columns-md-1-1,
  .columns-md-1-2,
  .columns-md-2-2,
  .columns-md-1-3,
  .columns-md-2-3,
  .columns-md-3-3,
  .columns-md-1-4,
  .columns-md-2-4,
  .columns-md-3-4,
  .columns-md-4-4,
  .columns-md-1-5,
  .columns-md-2-5,
  .columns-md-3-5,
  .columns-md-4-5,
  .columns-md-5-5,
  .columns-md-1-6,
  .columns-md-2-6,
  .columns-md-3-6,
  .columns-md-4-6,
  .columns-md-5-6,
  .columns-md-6-6,
  .columns-md-1-8,
  .columns-md-2-8,
  .columns-md-3-8,
  .columns-md-4-8,
  .columns-md-5-8,
  .columns-md-6-8,
  .columns-md-7-8,
  .columns-md-8-8,
  .columns-md-1-12,
  .columns-md-2-12,
  .columns-md-3-12,
  .columns-md-4-12,
  .columns-md-5-12,
  .columns-md-6-12,
  .columns-md-7-12,
  .columns-md-8-12,
  .columns-md-9-12,
  .columns-md-10-12,
  .columns-md-11-12,
  .columns-md-12-12,
  .columns-md-1-24,
  .columns-md-2-24,
  .columns-md-3-24,
  .columns-md-4-24,
  .columns-md-5-24,
  .columns-md-6-24,
  .columns-md-7-24,
  .columns-md-8-24,
  .columns-md-9-24,
  .columns-md-10-24,
  .columns-md-11-24,
  .columns-md-12-24,
  .columns-md-13-24,
  .columns-md-14-24,
  .columns-md-15-24,
  .columns-md-16-24,
  .columns-md-17-24,
  .columns-md-18-24,
  .columns-md-19-24,
  .columns-md-20-24,
  .columns-md-21-24,
  .columns-md-22-24,
  .columns-md-23-24,
  .columns-md-24-24 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
  }
  .columns-md-1-1 {
    width: 97.969%;
    *width: 99.969%;
  }
  .columns-md-1-2 {
    width: 47.969%;
    *width: 49.969%;
  }
  .columns-md-2-2 {
    width: 97.969%;
    *width: 99.969%;
  }
  .columns-md-1-3 {
    width: 31.30233333%;
    *width: 33.30233333%;
  }
  .columns-md-2-3 {
    width: 64.63566667%;
    *width: 66.63566667%;
  }
  .columns-md-3-3 {
    width: 97.969%;
    *width: 99.969%;
  }
  .columns-md-1-4 {
    width: 22.969%;
    *width: 24.969%;
  }
  .columns-md-2-4 {
    width: 47.969%;
    *width: 49.969%;
  }
  .columns-md-3-4 {
    width: 72.969%;
    *width: 74.969%;
  }
  .columns-md-4-4 {
    width: 97.969%;
    *width: 99.969%;
  }
  .columns-md-1-5 {
    width: 17.969%;
    *width: 19.969%;
  }
  .columns-md-2-5 {
    width: 37.969%;
    *width: 39.969%;
  }
  .columns-md-3-5 {
    width: 57.969%;
    *width: 59.969%;
  }
  .columns-md-4-5 {
    width: 77.969%;
    *width: 79.969%;
  }
  .columns-md-5-5 {
    width: 97.969%;
    *width: 99.969%;
  }
  .columns-md-1-6 {
    width: 14.63566667%;
    *width: 16.63566667%;
  }
  .columns-md-2-6 {
    width: 31.30233333%;
    *width: 33.30233333%;
  }
  .columns-md-3-6 {
    width: 47.969%;
    *width: 49.969%;
  }
  .columns-md-4-6 {
    width: 64.63566667%;
    *width: 66.63566667%;
  }
  .columns-md-5-6 {
    width: 81.30233333%;
    *width: 83.30233333%;
  }
  .columns-md-6-6 {
    width: 97.969%;
    *width: 99.969%;
  }
  .columns-md-1-8 {
    width: 10.469%;
    *width: 12.469%;
  }
  .columns-md-2-8 {
    width: 22.969%;
    *width: 24.969%;
  }
  .columns-md-3-8 {
    width: 35.469%;
    *width: 37.469%;
  }
  .columns-md-4-8 {
    width: 47.969%;
    *width: 49.969%;
  }
  .columns-md-5-8 {
    width: 60.469%;
    *width: 62.469%;
  }
  .columns-md-6-8 {
    width: 72.969%;
    *width: 74.969%;
  }
  .columns-md-7-8 {
    width: 85.469%;
    *width: 87.469%;
  }
  .columns-md-8-8 {
    width: 97.969%;
    *width: 99.969%;
  }
  .columns-md-1-12 {
    width: 6.30233333%;
    *width: 8.30233333%;
  }
  .columns-md-2-12 {
    width: 14.63566667%;
    *width: 16.63566667%;
  }
  .columns-md-3-12 {
    width: 22.969%;
    *width: 24.969%;
  }
  .columns-md-4-12 {
    width: 31.30233333%;
    *width: 33.30233333%;
  }
  .columns-md-5-12 {
    width: 39.63566667%;
    *width: 41.63566667%;
  }
  .columns-md-6-12 {
    width: 47.969%;
    *width: 49.969%;
  }
  .columns-md-7-12 {
    width: 56.30233333%;
    *width: 58.30233333%;
  }
  .columns-md-8-12 {
    width: 64.63566667%;
    *width: 66.63566667%;
  }
  .columns-md-9-12 {
    width: 72.969%;
    *width: 74.969%;
  }
  .columns-md-10-12 {
    width: 81.30233333%;
    *width: 83.30233333%;
  }
  .columns-md-11-12 {
    width: 89.63566667%;
    *width: 91.63566667%;
  }
  .columns-md-12-12 {
    width: 97.969%;
    *width: 99.969%;
  }
  .columns-md-1-24 {
    width: 2.13566667%;
    *width: 4.13566667%;
  }
  .columns-md-2-24 {
    width: 6.30233333%;
    *width: 8.30233333%;
  }
  .columns-md-3-24 {
    width: 10.469%;
    *width: 12.469%;
  }
  .columns-md-4-24 {
    width: 14.63566667%;
    *width: 16.63566667%;
  }
  .columns-md-5-24 {
    width: 18.80233333%;
    *width: 20.80233333%;
  }
  .columns-md-6-24 {
    width: 22.969%;
    *width: 24.969%;
  }
  .columns-md-7-24 {
    width: 27.13566667%;
    *width: 29.13566667%;
  }
  .columns-md-8-24 {
    width: 31.30233333%;
    *width: 33.30233333%;
  }
  .columns-md-9-24 {
    width: 35.469%;
    *width: 37.469%;
  }
  .columns-md-10-24 {
    width: 39.63566667%;
    *width: 41.63566667%;
  }
  .columns-md-11-24 {
    width: 43.80233333%;
    *width: 45.80233333%;
  }
  .columns-md-12-24 {
    width: 47.969%;
    *width: 49.969%;
  }
  .columns-md-13-24 {
    width: 52.13566667%;
    *width: 54.13566667%;
  }
  .columns-md-14-24 {
    width: 56.30233333%;
    *width: 58.30233333%;
  }
  .columns-md-15-24 {
    width: 60.469%;
    *width: 62.469%;
  }
  .columns-md-16-24 {
    width: 64.63566667%;
    *width: 66.63566667%;
  }
  .columns-md-17-24 {
    width: 68.80233333%;
    *width: 70.80233333%;
  }
  .columns-md-18-24 {
    width: 72.969%;
    *width: 74.969%;
  }
  .columns-md-19-24 {
    width: 77.13566667%;
    *width: 79.13566667%;
  }
  .columns-md-20-24 {
    width: 81.30233333%;
    *width: 83.30233333%;
  }
  .columns-md-21-24 {
    width: 85.469%;
    *width: 87.469%;
  }
  .columns-md-22-24 {
    width: 89.63566667%;
    *width: 91.63566667%;
  }
  .columns-md-23-24 {
    width: 93.80233333%;
    *width: 95.80233333%;
  }
  .columns-md-24-24 {
    width: 97.969%;
    *width: 99.969%;
  }
}
@media screen and (min-width: 47em) {
  .columns-common,
  .columns-lg-1-1,
  .columns-lg-1-2,
  .columns-lg-2-2,
  .columns-lg-1-3,
  .columns-lg-2-3,
  .columns-lg-3-3,
  .columns-lg-1-4,
  .columns-lg-2-4,
  .columns-lg-3-4,
  .columns-lg-4-4,
  .columns-lg-1-5,
  .columns-lg-2-5,
  .columns-lg-3-5,
  .columns-lg-4-5,
  .columns-lg-5-5,
  .columns-lg-1-6,
  .columns-lg-2-6,
  .columns-lg-3-6,
  .columns-lg-4-6,
  .columns-lg-5-6,
  .columns-lg-6-6,
  .columns-lg-1-8,
  .columns-lg-2-8,
  .columns-lg-3-8,
  .columns-lg-4-8,
  .columns-lg-5-8,
  .columns-lg-6-8,
  .columns-lg-7-8,
  .columns-lg-8-8,
  .columns-lg-1-12,
  .columns-lg-2-12,
  .columns-lg-3-12,
  .columns-lg-4-12,
  .columns-lg-5-12,
  .columns-lg-6-12,
  .columns-lg-7-12,
  .columns-lg-8-12,
  .columns-lg-9-12,
  .columns-lg-10-12,
  .columns-lg-11-12,
  .columns-lg-12-12,
  .columns-lg-1-24,
  .columns-lg-2-24,
  .columns-lg-3-24,
  .columns-lg-4-24,
  .columns-lg-5-24,
  .columns-lg-6-24,
  .columns-lg-7-24,
  .columns-lg-8-24,
  .columns-lg-9-24,
  .columns-lg-10-24,
  .columns-lg-11-24,
  .columns-lg-12-24,
  .columns-lg-13-24,
  .columns-lg-14-24,
  .columns-lg-15-24,
  .columns-lg-16-24,
  .columns-lg-17-24,
  .columns-lg-18-24,
  .columns-lg-19-24,
  .columns-lg-20-24,
  .columns-lg-21-24,
  .columns-lg-22-24,
  .columns-lg-23-24,
  .columns-lg-24-24 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
  }
  .columns-lg-1-1 {
    width: 97.969%;
    *width: 99.969%;
  }
  .columns-lg-1-2 {
    width: 47.969%;
    *width: 49.969%;
  }
  .columns-lg-2-2 {
    width: 97.969%;
    *width: 99.969%;
  }
  .columns-lg-1-3 {
    width: 31.30233333%;
    *width: 33.30233333%;
  }
  .columns-lg-2-3 {
    width: 64.63566667%;
    *width: 66.63566667%;
  }
  .columns-lg-3-3 {
    width: 97.969%;
    *width: 99.969%;
  }
  .columns-lg-1-4 {
    width: 22.969%;
    *width: 24.969%;
  }
  .columns-lg-2-4 {
    width: 47.969%;
    *width: 49.969%;
  }
  .columns-lg-3-4 {
    width: 72.969%;
    *width: 74.969%;
  }
  .columns-lg-4-4 {
    width: 97.969%;
    *width: 99.969%;
  }
  .columns-lg-1-5 {
    width: 17.969%;
    *width: 19.969%;
  }
  .columns-lg-2-5 {
    width: 37.969%;
    *width: 39.969%;
  }
  .columns-lg-3-5 {
    width: 57.969%;
    *width: 59.969%;
  }
  .columns-lg-4-5 {
    width: 77.969%;
    *width: 79.969%;
  }
  .columns-lg-5-5 {
    width: 97.969%;
    *width: 99.969%;
  }
  .columns-lg-1-6 {
    width: 14.63566667%;
    *width: 16.63566667%;
  }
  .columns-lg-2-6 {
    width: 31.30233333%;
    *width: 33.30233333%;
  }
  .columns-lg-3-6 {
    width: 47.969%;
    *width: 49.969%;
  }
  .columns-lg-4-6 {
    width: 64.63566667%;
    *width: 66.63566667%;
  }
  .columns-lg-5-6 {
    width: 81.30233333%;
    *width: 83.30233333%;
  }
  .columns-lg-6-6 {
    width: 97.969%;
    *width: 99.969%;
  }
  .columns-lg-1-8 {
    width: 10.469%;
    *width: 12.469%;
  }
  .columns-lg-2-8 {
    width: 22.969%;
    *width: 24.969%;
  }
  .columns-lg-3-8 {
    width: 35.469%;
    *width: 37.469%;
  }
  .columns-lg-4-8 {
    width: 47.969%;
    *width: 49.969%;
  }
  .columns-lg-5-8 {
    width: 60.469%;
    *width: 62.469%;
  }
  .columns-lg-6-8 {
    width: 72.969%;
    *width: 74.969%;
  }
  .columns-lg-7-8 {
    width: 85.469%;
    *width: 87.469%;
  }
  .columns-lg-8-8 {
    width: 97.969%;
    *width: 99.969%;
  }
  .columns-lg-1-12 {
    width: 6.30233333%;
    *width: 8.30233333%;
  }
  .columns-lg-2-12 {
    width: 14.63566667%;
    *width: 16.63566667%;
  }
  .columns-lg-3-12 {
    width: 22.969%;
    *width: 24.969%;
  }
  .columns-lg-4-12 {
    width: 31.30233333%;
    *width: 33.30233333%;
  }
  .columns-lg-5-12 {
    width: 39.63566667%;
    *width: 41.63566667%;
  }
  .columns-lg-6-12 {
    width: 47.969%;
    *width: 49.969%;
  }
  .columns-lg-7-12 {
    width: 56.30233333%;
    *width: 58.30233333%;
  }
  .columns-lg-8-12 {
    width: 64.63566667%;
    *width: 66.63566667%;
  }
  .columns-lg-9-12 {
    width: 72.969%;
    *width: 74.969%;
  }
  .columns-lg-10-12 {
    width: 81.30233333%;
    *width: 83.30233333%;
  }
  .columns-lg-11-12 {
    width: 89.63566667%;
    *width: 91.63566667%;
  }
  .columns-lg-12-12 {
    width: 97.969%;
    *width: 99.969%;
  }
  .columns-lg-1-24 {
    width: 2.13566667%;
    *width: 4.13566667%;
  }
  .columns-lg-2-24 {
    width: 6.30233333%;
    *width: 8.30233333%;
  }
  .columns-lg-3-24 {
    width: 10.469%;
    *width: 12.469%;
  }
  .columns-lg-4-24 {
    width: 14.63566667%;
    *width: 16.63566667%;
  }
  .columns-lg-5-24 {
    width: 18.80233333%;
    *width: 20.80233333%;
  }
  .columns-lg-6-24 {
    width: 22.969%;
    *width: 24.969%;
  }
  .columns-lg-7-24 {
    width: 27.13566667%;
    *width: 29.13566667%;
  }
  .columns-lg-8-24 {
    width: 31.30233333%;
    *width: 33.30233333%;
  }
  .columns-lg-9-24 {
    width: 35.469%;
    *width: 37.469%;
  }
  .columns-lg-10-24 {
    width: 39.63566667%;
    *width: 41.63566667%;
  }
  .columns-lg-11-24 {
    width: 43.80233333%;
    *width: 45.80233333%;
  }
  .columns-lg-12-24 {
    width: 47.969%;
    *width: 49.969%;
  }
  .columns-lg-13-24 {
    width: 52.13566667%;
    *width: 54.13566667%;
  }
  .columns-lg-14-24 {
    width: 56.30233333%;
    *width: 58.30233333%;
  }
  .columns-lg-15-24 {
    width: 60.469%;
    *width: 62.469%;
  }
  .columns-lg-16-24 {
    width: 64.63566667%;
    *width: 66.63566667%;
  }
  .columns-lg-17-24 {
    width: 68.80233333%;
    *width: 70.80233333%;
  }
  .columns-lg-18-24 {
    width: 72.969%;
    *width: 74.969%;
  }
  .columns-lg-19-24 {
    width: 77.13566667%;
    *width: 79.13566667%;
  }
  .columns-lg-20-24 {
    width: 81.30233333%;
    *width: 83.30233333%;
  }
  .columns-lg-21-24 {
    width: 85.469%;
    *width: 87.469%;
  }
  .columns-lg-22-24 {
    width: 89.63566667%;
    *width: 91.63566667%;
  }
  .columns-lg-23-24 {
    width: 93.80233333%;
    *width: 95.80233333%;
  }
  .columns-lg-24-24 {
    width: 97.969%;
    *width: 99.969%;
  }
}
@media screen and (min-width: 64em) {
  .columns-common,
  .columns-xl-1-1,
  .columns-xl-1-2,
  .columns-xl-2-2,
  .columns-xl-1-3,
  .columns-xl-2-3,
  .columns-xl-3-3,
  .columns-xl-1-4,
  .columns-xl-2-4,
  .columns-xl-3-4,
  .columns-xl-4-4,
  .columns-xl-1-5,
  .columns-xl-2-5,
  .columns-xl-3-5,
  .columns-xl-4-5,
  .columns-xl-5-5,
  .columns-xl-1-6,
  .columns-xl-2-6,
  .columns-xl-3-6,
  .columns-xl-4-6,
  .columns-xl-5-6,
  .columns-xl-6-6,
  .columns-xl-1-8,
  .columns-xl-2-8,
  .columns-xl-3-8,
  .columns-xl-4-8,
  .columns-xl-5-8,
  .columns-xl-6-8,
  .columns-xl-7-8,
  .columns-xl-8-8,
  .columns-xl-1-12,
  .columns-xl-2-12,
  .columns-xl-3-12,
  .columns-xl-4-12,
  .columns-xl-5-12,
  .columns-xl-6-12,
  .columns-xl-7-12,
  .columns-xl-8-12,
  .columns-xl-9-12,
  .columns-xl-10-12,
  .columns-xl-11-12,
  .columns-xl-12-12,
  .columns-xl-1-24,
  .columns-xl-2-24,
  .columns-xl-3-24,
  .columns-xl-4-24,
  .columns-xl-5-24,
  .columns-xl-6-24,
  .columns-xl-7-24,
  .columns-xl-8-24,
  .columns-xl-9-24,
  .columns-xl-10-24,
  .columns-xl-11-24,
  .columns-xl-12-24,
  .columns-xl-13-24,
  .columns-xl-14-24,
  .columns-xl-15-24,
  .columns-xl-16-24,
  .columns-xl-17-24,
  .columns-xl-18-24,
  .columns-xl-19-24,
  .columns-xl-20-24,
  .columns-xl-21-24,
  .columns-xl-22-24,
  .columns-xl-23-24,
  .columns-xl-24-24 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
  }
  .columns-xl-1-1 {
    width: 97.969%;
    *width: 99.969%;
  }
  .columns-xl-1-2 {
    width: 47.969%;
    *width: 49.969%;
  }
  .columns-xl-2-2 {
    width: 97.969%;
    *width: 99.969%;
  }
  .columns-xl-1-3 {
    width: 31.30233333%;
    *width: 33.30233333%;
  }
  .columns-xl-2-3 {
    width: 64.63566667%;
    *width: 66.63566667%;
  }
  .columns-xl-3-3 {
    width: 97.969%;
    *width: 99.969%;
  }
  .columns-xl-1-4 {
    width: 22.969%;
    *width: 24.969%;
  }
  .columns-xl-2-4 {
    width: 47.969%;
    *width: 49.969%;
  }
  .columns-xl-3-4 {
    width: 72.969%;
    *width: 74.969%;
  }
  .columns-xl-4-4 {
    width: 97.969%;
    *width: 99.969%;
  }
  .columns-xl-1-5 {
    width: 17.969%;
    *width: 19.969%;
  }
  .columns-xl-2-5 {
    width: 37.969%;
    *width: 39.969%;
  }
  .columns-xl-3-5 {
    width: 57.969%;
    *width: 59.969%;
  }
  .columns-xl-4-5 {
    width: 77.969%;
    *width: 79.969%;
  }
  .columns-xl-5-5 {
    width: 97.969%;
    *width: 99.969%;
  }
  .columns-xl-1-6 {
    width: 14.63566667%;
    *width: 16.63566667%;
  }
  .columns-xl-2-6 {
    width: 31.30233333%;
    *width: 33.30233333%;
  }
  .columns-xl-3-6 {
    width: 47.969%;
    *width: 49.969%;
  }
  .columns-xl-4-6 {
    width: 64.63566667%;
    *width: 66.63566667%;
  }
  .columns-xl-5-6 {
    width: 81.30233333%;
    *width: 83.30233333%;
  }
  .columns-xl-6-6 {
    width: 97.969%;
    *width: 99.969%;
  }
  .columns-xl-1-8 {
    width: 10.469%;
    *width: 12.469%;
  }
  .columns-xl-2-8 {
    width: 22.969%;
    *width: 24.969%;
  }
  .columns-xl-3-8 {
    width: 35.469%;
    *width: 37.469%;
  }
  .columns-xl-4-8 {
    width: 47.969%;
    *width: 49.969%;
  }
  .columns-xl-5-8 {
    width: 60.469%;
    *width: 62.469%;
  }
  .columns-xl-6-8 {
    width: 72.969%;
    *width: 74.969%;
  }
  .columns-xl-7-8 {
    width: 85.469%;
    *width: 87.469%;
  }
  .columns-xl-8-8 {
    width: 97.969%;
    *width: 99.969%;
  }
  .columns-xl-1-12 {
    width: 6.30233333%;
    *width: 8.30233333%;
  }
  .columns-xl-2-12 {
    width: 14.63566667%;
    *width: 16.63566667%;
  }
  .columns-xl-3-12 {
    width: 22.969%;
    *width: 24.969%;
  }
  .columns-xl-4-12 {
    width: 31.30233333%;
    *width: 33.30233333%;
  }
  .columns-xl-5-12 {
    width: 39.63566667%;
    *width: 41.63566667%;
  }
  .columns-xl-6-12 {
    width: 47.969%;
    *width: 49.969%;
  }
  .columns-xl-7-12 {
    width: 56.30233333%;
    *width: 58.30233333%;
  }
  .columns-xl-8-12 {
    width: 64.63566667%;
    *width: 66.63566667%;
  }
  .columns-xl-9-12 {
    width: 72.969%;
    *width: 74.969%;
  }
  .columns-xl-10-12 {
    width: 81.30233333%;
    *width: 83.30233333%;
  }
  .columns-xl-11-12 {
    width: 89.63566667%;
    *width: 91.63566667%;
  }
  .columns-xl-12-12 {
    width: 97.969%;
    *width: 99.969%;
  }
  .columns-xl-1-24 {
    width: 2.13566667%;
    *width: 4.13566667%;
  }
  .columns-xl-2-24 {
    width: 6.30233333%;
    *width: 8.30233333%;
  }
  .columns-xl-3-24 {
    width: 10.469%;
    *width: 12.469%;
  }
  .columns-xl-4-24 {
    width: 14.63566667%;
    *width: 16.63566667%;
  }
  .columns-xl-5-24 {
    width: 18.80233333%;
    *width: 20.80233333%;
  }
  .columns-xl-6-24 {
    width: 22.969%;
    *width: 24.969%;
  }
  .columns-xl-7-24 {
    width: 27.13566667%;
    *width: 29.13566667%;
  }
  .columns-xl-8-24 {
    width: 31.30233333%;
    *width: 33.30233333%;
  }
  .columns-xl-9-24 {
    width: 35.469%;
    *width: 37.469%;
  }
  .columns-xl-10-24 {
    width: 39.63566667%;
    *width: 41.63566667%;
  }
  .columns-xl-11-24 {
    width: 43.80233333%;
    *width: 45.80233333%;
  }
  .columns-xl-12-24 {
    width: 47.969%;
    *width: 49.969%;
  }
  .columns-xl-13-24 {
    width: 52.13566667%;
    *width: 54.13566667%;
  }
  .columns-xl-14-24 {
    width: 56.30233333%;
    *width: 58.30233333%;
  }
  .columns-xl-15-24 {
    width: 60.469%;
    *width: 62.469%;
  }
  .columns-xl-16-24 {
    width: 64.63566667%;
    *width: 66.63566667%;
  }
  .columns-xl-17-24 {
    width: 68.80233333%;
    *width: 70.80233333%;
  }
  .columns-xl-18-24 {
    width: 72.969%;
    *width: 74.969%;
  }
  .columns-xl-19-24 {
    width: 77.13566667%;
    *width: 79.13566667%;
  }
  .columns-xl-20-24 {
    width: 81.30233333%;
    *width: 83.30233333%;
  }
  .columns-xl-21-24 {
    width: 85.469%;
    *width: 87.469%;
  }
  .columns-xl-22-24 {
    width: 89.63566667%;
    *width: 91.63566667%;
  }
  .columns-xl-23-24 {
    width: 93.80233333%;
    *width: 95.80233333%;
  }
  .columns-xl-24-24 {
    width: 97.969%;
    *width: 99.969%;
  }
}
[data-role="slider"] {
  visibility: visible;
}
[data-role="slider"] .slider_label {
  position: absolute;
  bottom: 8px;
}
[data-role="slider"] .slide-container {
  width: 300%;
}
[data-role="slider"] .slide-container:after {
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}
[data-role="slider"] .slide {
  float: left;
  width: 33.33%;
  display: none;
  position: relative;
}
[data-role="slider"] .slide + .slide {
  /*margin-left: -0.3em;*/
}
[data-role="slider"] .slide.show {
  display: block;
}
.slide-animation {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.slider-left {
  transform: translateX(0%);
}
.slider-centre {
  transform: translateX(-33.3%);
}
.slider-right {
  transform: translateX(-66.6%);
}
.material--z1,
.material-dropdown__menu,
.material-select__menu {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.material--z2 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.material--z3 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.material--z4 {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.material--z5 {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
button {
  -webkit-animation-duration: 0.0001s;
  animation-duration: 0.0001s;
  -webkit-animation-name: material-node-inserted;
  animation-name: material-node-inserted;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.87);
  background-color: #FFF;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  height: 36px;
  padding: 0 26px;
  margin-top: 6px;
  margin-bottom: 6px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  background-image: none;
  text-align: center;
  line-height: 36px;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 14px;
  letter-spacing: 0.03em;
  position: relative;
  overflow: hidden;
}
button:hover,
button:focus,
button:active {
  color: rgba(0, 0, 0, 0.87);
  background-color: white;
}
button[disabled]:hover,
button[disabled]:focus,
button[disabled]:active {
  color: rgba(0, 0, 0, 0.87);
  background-color: #FFF;
}
button.flat {
  color: rgba(0, 0, 0, 0.87);
  background-color: transparent;
}
button.flat:hover,
button.flat:focus,
button.flat:active {
  color: rgba(0, 0, 0, 0.87);
  background-color: #f2f2f2;
}
button.flat[disabled]:hover,
button.flat[disabled]:focus,
button.flat[disabled]:active {
  color: rgba(0, 0, 0, 0.87);
  background-color: transparent;
}
button:hover,
button:focus,
button:active {
  outline: 0;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
}
button:hover,
button:focus {
  box-shadow: 0 0px 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.2);
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  button:hover,
  button:focus {
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.12), -1px 0px 2px rgba(0, 0, 0, 0.12), 0 0px 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.2);
  }
}
button:active {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  button:active {
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.12), -1px 0px 2px rgba(0, 0, 0, 0.12), 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }
}
button:disabled,
button.is-disabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.60;
  box-shadow: none;
}
/*
button + button {
  margin-left: 8px;
}
*/
button.flat {
  background-color: transparent;
}
button.flat:hover,
button.flat:focus,
button.flat:active {
  box-shadow: none;
  background-color: #f2f2f2;
}
button.raised,
button.fab {
  box-shadow: 0 0px 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.2);
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  button.raised,
  button.fab {
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.12), -1px 0px 2px rgba(0, 0, 0, 0.12), 0 0px 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.2);
  }
}
button.raised:active,
button.fab:active {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  button.raised:active,
  button.fab:active {
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.12), -1px 0px 2px rgba(0, 0, 0, 0.12), 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }
}
button.fab {
  position: relative;
  padding: 0;
  width: 55px;
  height: 55px;
  line-height: 55px;
  border-radius: 50%;
  z-index: 1;
}
button.primary {
  color: #FFF;
  background-color: #2196F3;
}
button.primary:hover,
button.primary:focus,
button.primary:active {
  color: #FFF;
  background-color: #39a1f4;
}
button.primary[disabled]:hover,
button.primary[disabled]:focus,
button.primary[disabled]:active {
  color: #FFF;
  background-color: #2196F3;
}
button.primary.flat {
  color: #2196F3;
  background-color: transparent;
}
button.primary.flat:hover,
button.primary.flat:focus,
button.primary.flat:active {
  color: #2196F3;
  background-color: #f2f2f2;
}
button.primary.flat[disabled]:hover,
button.primary.flat[disabled]:focus,
button.primary.flat[disabled]:active {
  color: #2196F3;
  background-color: transparent;
}
button.dark {
  color: #FFF;
  background-color: #424242;
}
button.dark:hover,
button.dark:focus,
button.dark:active {
  color: #FFF;
  background-color: #4f4f4f;
}
button.dark[disabled]:hover,
button.dark[disabled]:focus,
button.dark[disabled]:active {
  color: #FFF;
  background-color: #424242;
}
button.dark.flat {
  color: #424242;
  background-color: transparent;
}
button.dark.flat:hover,
button.dark.flat:focus,
button.dark.flat:active {
  color: #424242;
  background-color: #f2f2f2;
}
button.dark.flat[disabled]:hover,
button.dark.flat[disabled]:focus,
button.dark.flat[disabled]:active {
  color: #424242;
  background-color: transparent;
}
button.danger {
  color: #FFF;
  background-color: #F44336;
}
button.danger:hover,
button.danger:focus,
button.danger:active {
  color: #FFF;
  background-color: #f55a4e;
}
button.danger[disabled]:hover,
button.danger[disabled]:focus,
button.danger[disabled]:active {
  color: #FFF;
  background-color: #F44336;
}
button.danger.flat {
  color: #F44336;
  background-color: transparent;
}
button.danger.flat:hover,
button.danger.flat:focus,
button.danger.flat:active {
  color: #F44336;
  background-color: #f2f2f2;
}
button.danger.flat[disabled]:hover,
button.danger.flat[disabled]:focus,
button.danger.flat[disabled]:active {
  color: #F44336;
  background-color: transparent;
}
button.accent {
  color: #FFF;
  background-color: #FF4081;
}
button.accent:hover,
button.accent:focus,
button.accent:active {
  color: #FFF;
  background-color: #ff5a92;
}
button.accent[disabled]:hover,
button.accent[disabled]:focus,
button.accent[disabled]:active {
  color: #FFF;
  background-color: #FF4081;
}
button.accent.flat {
  color: #FF4081;
  background-color: transparent;
}
button.accent.flat:hover,
button.accent.flat:focus,
button.accent.flat:active {
  color: #FF4081;
  background-color: #f2f2f2;
}
button.accent.flat[disabled]:hover,
button.accent.flat[disabled]:focus,
button.accent.flat[disabled]:active {
  color: #FF4081;
  background-color: transparent;
}
button.small {
  height: 30.6px;
  line-height: 30.6px;
  padding: 0 16px;
  font-size: 13px;
}
button.large {
  height: 54px;
  line-height: 54px;
  padding: 0 26px;
  font-size: 14px;
}
button.fab.small {
  width: 44px;
  height: 44px;
  line-height: 44px;
}
button.fab.large {
  width: 75px;
  height: 75px;
  line-height: 75px;
}
.material-tabs__bar {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  background-color: transparent;
  white-space: nowrap;
  overflow-x: auto;
}
.material-tabs__bar > li {
  display: inline-block;
}
.material-tabs__bar > li > a {
  display: block;
  white-space: nowrap;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.87);
  cursor: default;
  height: 48px;
  line-height: 48px;
  padding-left: 24px;
  padding-right: 24px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.material-tabs__bar > li > a:hover {
  text-decoration: none;
}
.material-tabs__bar > li.material--is-active {
  border-bottom: 2px solid #2196F3;
}
.material-tabs__bar > li.material--is-active > a {
  color: #2196F3;
}
.material-tabs__bar.material-tabs__bar--justified {
  display: table;
  width: 100%;
  table-layout: fixed;
}
.material-tabs__bar.material-tabs__bar--justified > li {
  display: table-cell;
}
.material-tabs__bar.material-tabs__bar--justified > li > a {
  text-align: center;
  padding-left: 0px;
  padding-right: 0px;
}
.material-tabs__pane {
  display: none;
}
.material-tabs__pane.material--is-active {
  display: block;
}
.material-form input[type="text"]:focus,
.material-form input[type="password"]:focus,
.material-form input[type="email"]:focus,
.material-form input[type="url"]:focus,
.material-form input[type="date"]:focus,
.material-form input[type="month"]:focus,
.material-form input[type="time"]:focus,
.material-form input[type="datetime"]:focus,
.material-form input[type="datetime-local"]:focus,
.material-form input[type="week"]:focus,
.material-form input[type="number"]:focus,
.material-form input[type="search"]:focus,
.material-form input[type="tel"]:focus,
.material-form input[type="color"]:focus,
.material-form select:focus,
.material-form textarea:focus {
  outline: 0;
  border-color: #129FEA;
}
.material-form input.full {
  width: 100%;
}
.material-form input[type="text"],
.material-form input[type="password"],
.material-form input[type="email"],
.material-form input[type="url"],
.material-form input[type="date"],
.material-form input[type="month"],
.material-form input[type="time"],
.material-form input[type="datetime"],
.material-form input[type="datetime-local"],
.material-form input[type="week"],
.material-form input[type="number"],
.material-form input[type="search"],
.material-form input[type="tel"],
.material-form input[type="color"],
.material-form select,
.material-form textarea {
  padding: 0.5em 0.6em;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.material-radio,
.material-checkbox {
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}
.material-radio > label,
.material-checkbox > label {
  min-height: 20px;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
}
.material-radio > label > input[type="radio"],
.material-radio--inline > label > input[type="radio"],
.material-checkbox > label > input[type="checkbox"],
.material-checkbox--inline > label > input[type="checkbox"] {
  position: absolute;
  margin-left: -20px;
  margin-top: 4px;
}
.material-radio + .material-radio,
.material-checkbox + .material-checkbox {
  margin-top: -5px;
}
.material-radio--inline,
.material-checkbox--inline {
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  vertical-align: middle;
  font-weight: normal;
  cursor: pointer;
}
.material-radio--inline > input[type="radio"],
.material-radio--inline > input[type="checkbox"],
.material-radio--inline > label > input[type="radio"],
.material-radio--inline > label > input[type="checkbox"],
.material-checkbox--inline > input[type="radio"],
.material-checkbox--inline > input[type="checkbox"],
.material-checkbox--inline > label > input[type="radio"],
.material-checkbox--inline > label > input[type="checkbox"] {
  margin: 4px 0 0;
  line-height: normal;
}
.material-radio--inline + .material-radio--inline,
.material-checkbox--inline + .material-checkbox--inline {
  margin-top: 0;
  margin-left: 10px;
}
.material-textfield {
  display: block;
  padding-top: 15px;
  margin-bottom: 20px;
  position: relative;
}
.material-textfield > label {
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  color: rgba(0, 0, 0, 0.54);
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.material-textfield > textarea {
  padding-top: 5px;
}
.material-textfield > input,
.material-textfield > textarea {
  display: block;
}
.material-textfield > input:focus ~ label,
.material-textfield > textarea:focus ~ label {
  color: #2196F3;
}
.material-textfield--float-label > label {
  position: absolute;
  -webkit-transform: translate(0px, 15px);
  transform: translate(0px, 15px);
  font-size: 16px;
  line-height: 32px;
  color: rgba(0, 0, 0, 0.26);
  text-overflow: clip;
  cursor: text;
  pointer-events: none;
}
.material-textfield--float-label > input:focus ~ label,
.material-textfield--float-label > textarea:focus ~ label {
  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  font-size: 12px;
  line-height: 15px;
  text-overflow: ellipsis;
}
.material-textfield--float-label > input:not(:focus).material--is-not-empty ~ label,
.material-textfield--float-label > input:not(:focus)[value]:not([value=""]):not(.material--is-empty):not(.material--is-not-empty) ~ label,
.material-textfield--float-label > input:not(:focus):not(:empty):not(.material--is-empty):not(.material--is-not-empty) ~ label,
.material-textfield--float-label > textarea:not(:focus).material--is-not-empty ~ label,
.material-textfield--float-label > textarea:not(:focus)[value]:not([value=""]):not(.material--is-empty):not(.material--is-not-empty) ~ label,
.material-textfield--float-label > textarea:not(:focus):not(:empty):not(.material--is-empty):not(.material--is-not-empty) ~ label {
  color: rgba(0, 0, 0, 0.54);
  font-size: 12px;
  line-height: 15px;
  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  text-overflow: ellipsis;
}
.material-textfield--wrap-label {
  display: table;
  width: 100%;
  padding-top: 0px;
}
.material-textfield--wrap-label:not(.material-textfield--float-label) > label {
  display: table-header-group;
  position: static;
  white-space: normal;
  overflow-x: visible;
}
.material-textfield > input,
.material-textfield > textarea {
  -webkit-animation-duration: 0.0001s;
  animation-duration: 0.0001s;
  -webkit-animation-name: material-node-inserted;
  animation-name: material-node-inserted;
  display: block;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.87);
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.26);
  outline: none;
  width: 100%;
  font-size: 16px;
  padding: 0;
  box-shadow: none;
  border-radius: 0px;
  background-image: none;
}
.material-textfield > input:focus,
.material-textfield > textarea:focus {
  border-color: #2196F3;
  border-width: 2px;
}
.material-textfield > input:disabled,
.material-textfield > input:-moz-read-only,
.material-textfield > textarea:disabled,
.material-textfield > textarea:-moz-read-only {
  cursor: not-allowed;
  background-color: transparent;
  opacity: 1;
}
.material-textfield > input:disabled,
.material-textfield > input:read-only,
.material-textfield > textarea:disabled,
.material-textfield > textarea:read-only {
  cursor: not-allowed;
  background-color: transparent;
  opacity: 1;
}
.material-textfield > input::-webkit-input-placeholder,
.material-textfield > textarea::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.26);
  opacity: 1;
}
.material-textfield > input::-moz-placeholder,
.material-textfield > textarea::-moz-placeholder {
  color: rgba(0, 0, 0, 0.26);
  opacity: 1;
}
.material-textfield > input:-ms-input-placeholder,
.material-textfield > textarea:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.26);
  opacity: 1;
}
.material-textfield > input::placeholder,
.material-textfield > textarea::placeholder {
  color: rgba(0, 0, 0, 0.26);
  opacity: 1;
}
.material-textfield > input {
  height: 32px;
}
.material-textfield > input:focus {
  height: 33px;
  margin-bottom: -1px;
}
.material-textfield > textarea {
  min-height: 64px;
}
.material-textfield > textarea[rows]:not([rows="2"]):focus {
  margin-bottom: -1px;
}
.material-textfield > input:focus {
  height: 33px;
  margin-bottom: -1px;
}
.material-textfield > input:invalid:not(:focus):not(:required),
.material-textfield > input:invalid:not(:focus):required.material--is-not-empty,
.material-textfield > input:invalid:not(:focus):required.material--is-empty.material--is-dirty,
.material-textfield > input:invalid:not(:focus):required[value]:not([value=""]):not(.material--is-empty):not(.material--is-not-empty),
.material-textfield > input:invalid:not(:focus):required:not(:empty):not(.material--is-empty):not(.material--is-not-empty),
.material-textfield > textarea:invalid:not(:focus):not(:required),
.material-textfield > textarea:invalid:not(:focus):required.material--is-not-empty,
.material-textfield > textarea:invalid:not(:focus):required.material--is-empty.material--is-dirty,
.material-textfield > textarea:invalid:not(:focus):required[value]:not([value=""]):not(.material--is-empty):not(.material--is-not-empty),
.material-textfield > textarea:invalid:not(:focus):required:not(:empty):not(.material--is-empty):not(.material--is-not-empty),
.material-textfield > input:not(:focus).material--is-invalid:not(:required),
.material-textfield > input:not(:focus).material--is-invalid:required.material--is-not-empty,
.material-textfield > input:not(:focus).material--is-invalid:required.material--is-empty.material--is-dirty,
.material-textfield > input:not(:focus).material--is-invalid:required[value]:not([value=""]):not(.material--is-empty):not(.material--is-not-empty),
.material-textfield > input:not(:focus).material--is-invalid:required:not(:empty):not(.material--is-empty):not(.material--is-not-empty),
.material-textfield > textarea:not(:focus).material--is-invalid:not(:required),
.material-textfield > textarea:not(:focus).material--is-invalid:required.material--is-not-empty,
.material-textfield > textarea:not(:focus).material--is-invalid:required.material--is-empty.material--is-dirty,
.material-textfield > textarea:not(:focus).material--is-invalid:required[value]:not([value=""]):not(.material--is-empty):not(.material--is-not-empty),
.material-textfield > textarea:not(:focus).material--is-invalid:required:not(:empty):not(.material--is-empty):not(.material--is-not-empty) {
  border-color: #F44336;
  border-width: 2px;
}
.material-textfield > input:invalid:not(:focus):not(:required),
.material-textfield > input:invalid:not(:focus):required.material--is-not-empty,
.material-textfield > input:invalid:not(:focus):required.material--is-empty.material--is-dirty,
.material-textfield > input:invalid:not(:focus):required[value]:not([value=""]):not(.material--is-empty):not(.material--is-not-empty),
.material-textfield > input:invalid:not(:focus):required:not(:empty):not(.material--is-empty):not(.material--is-not-empty),
.material-textfield > input:not(:focus).material--is-invalid:not(:required),
.material-textfield > input:not(:focus).material--is-invalid:required.material--is-not-empty,
.material-textfield > input:not(:focus).material--is-invalid:required.material--is-empty.material--is-dirty,
.material-textfield > input:not(:focus).material--is-invalid:required[value]:not([value=""]):not(.material--is-empty):not(.material--is-not-empty),
.material-textfield > input:not(:focus).material--is-invalid:required:not(:empty):not(.material--is-empty):not(.material--is-not-empty) {
  height: 33px;
  margin-bottom: -1px;
}
.material-textfield > input:invalid:not(:focus):not(:required) ~ label,
.material-textfield > input:invalid:not(:focus):required.material--is-not-empty ~ label,
.material-textfield > input:invalid:not(:focus):required[value]:not([value=""]):not(.material--is-empty):not(.material--is-not-empty) ~ label,
.material-textfield > input:invalid:not(:focus):required:not(:empty):not(.material--is-empty):not(.material--is-not-empty) ~ label,
.material-textfield > textarea:invalid:not(:focus):not(:required) ~ label,
.material-textfield > textarea:invalid:not(:focus):required.material--is-not-empty ~ label,
.material-textfield > textarea:invalid:not(:focus):required[value]:not([value=""]):not(.material--is-empty):not(.material--is-not-empty) ~ label,
.material-textfield > textarea:invalid:not(:focus):required:not(:empty):not(.material--is-empty):not(.material--is-not-empty) ~ label,
.material-textfield > input:not(:focus).material--is-invalid:not(:required) ~ label,
.material-textfield > input:not(:focus).material--is-invalid:required.material--is-not-empty ~ label,
.material-textfield > input:not(:focus).material--is-invalid:required[value]:not([value=""]):not(.material--is-empty):not(.material--is-not-empty) ~ label,
.material-textfield > input:not(:focus).material--is-invalid:required:not(:empty):not(.material--is-empty):not(.material--is-not-empty) ~ label,
.material-textfield > textarea:not(:focus).material--is-invalid:not(:required) ~ label,
.material-textfield > textarea:not(:focus).material--is-invalid:required.material--is-not-empty ~ label,
.material-textfield > textarea:not(:focus).material--is-invalid:required[value]:not([value=""]):not(.material--is-empty):not(.material--is-not-empty) ~ label,
.material-textfield > textarea:not(:focus).material--is-invalid:required:not(:empty):not(.material--is-empty):not(.material--is-not-empty) ~ label {
  color: #F44336;
}
.material-textfield:not(.material-textfield--float-label) > input:invalid:not(:focus):required.material--is-empty.material--is-dirty ~ label,
.material-textfield:not(.material-textfield--float-label) > textarea:invalid:not(:focus):required.material--is-empty.material--is-dirty ~ label,
.material-textfield:not(.material-textfield--float-label) > input:not(:focus).material--is-invalid:required.material--is-empty.material--is-dirty ~ label,
.material-textfield:not(.material-textfield--float-label) > textarea:not(:focus).material--is-invalid:required.material--is-empty.material--is-dirty ~ label {
  color: #F44336;
}
